*{
	margin:0;
	padding:0;
}
#top{
	height:100px;
}

body{
	width: 50%;
	margin:auto;
	text-align: center;
	background-color: #A9F5F2;
	font-family:Lucida Console, Arial, Helvetica;
}

body:after{
	content: "";
  	background: url(backgroundGlider.png);
  	opacity: 0.6;
  	top: 0;
  	left: 0;
 	bottom: 0;
 	right: 0;
  	position: absolute;
  	z-index: -1;
}

.container{
	height:auto;
	width:480px;
	height:550px;
	width:500px;
	background-color:#CEF6E3;
	margin:auto;
	padding:20px 10px 20px 10px;
	border:#4CAF50 3px solid;
	border-radius: 15px;
	box-shadow:3px 3px 5px #585858;
}

#list{
	padding:10px;
}

#chooseGlider{
	padding:5px;
}

#glidersList{
    width: 70%;
    height:50px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    border:#4CAF50 1px solid;
    box-shadow:3px 3px 5px #585858;
    font-family:Lucida Console, Arial, Helvetica;
    font-size:17px;
    margin-bottom: 10px;
}

.slidecontainer{
	margin:5px 2px 5px 18px;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow:3px 3px 5px #585858;
    margin:5px 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#heightOutput{
	color:#000;

}

#distanceOutput{
	color:#000;
	
}
.output{
	margin:auto;
	height:50px;
	width:40%;
	background-color: #fff;
	color:#000;
	font-family: Arial;
	font-size:20px;
	text-align: center;
	border-radius: 5px;
	border:#4CAF50 1px solid;
	box-shadow:3px 3px 5px #585858;

}

.output h4{
	margin:13px 5px 10px 5px;

}
